%h2
  =t("tasks.create.creating")

-if @task.errors.any?
  %ul
    -@task.errors.full_messages.each do |error|
      %li=error

=form_for(@task, url:{action: "create"}) do |f|
  .field
    =f.label :description
    =f.text_area :description
  .actions
    =f.submit t("tasks.create.creating")